# importing datasets

In [2]:
import pandas as pd

In [3]:
#locally
pd.read_csv('movielist.csv')

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
0,0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,113.216,8.7,17865
1,1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,84.139,8.7,23715
2,2,772071,Cuando Sea Joven,70-year-old Malena gets a second chance at lif...,2022-09-14,19.696,8.6,214
3,3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,55.942,8.6,10802
4,4,820067,The Quintessential Quintuplets Movie,When five lovely young girls who hate studying...,2022-05-20,287.143,8.6,235
...,...,...,...,...,...,...,...,...
8555,8555,9989,Antitrust,A computer programmer's dream job at a hot Por...,2001-01-11,12.242,6.0,448
8556,8556,320288,Dark Phoenix,The X-Men face their most formidable and power...,2019-06-05,37.275,6.0,5746
8557,8557,280002,The Remaining,When a group of close-knit friends assemble fo...,2014-08-25,52.844,6.0,333
8558,8558,308531,Teenage Mutant Ninja Turtles: Out of the Shadows,"After supervillain Shredder escapes custody, h...",2016-06-01,30.932,6.0,3126
8559,8559,74944,War of the Buttons,1960. The thrilling battles waged by a band of...,2011-09-14,6.073,6.0,368

In [ ]:
# #from URL
# import requests
# from io import StringIO
# url = ""
# headers = {"":}
# req = requests.get(url,headers = headers)
# data = StringIO(req.text)
# pd.read_csv(data)

In [ ]:
# #sep parameters
# pd.read_csv('filename.tsv', sep ='\t', names = ['', '', ''])

In [10]:
#index_col parameter
pd.read_csv('movielist.csv', index_col = 'title')

,Unnamed: 0,id,overview,release_date,popularity,vote_average,vote_count
title,,,,,,,
The Godfather,0,238,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,113.216,8.7,17865
The Shawshank Redemption,1,278,Framed in the 1940s for the double murder of h...,1994-09-23,84.139,8.7,23715
Cuando Sea Joven,2,772071,70-year-old Malena gets a second chance at lif...,2022-09-14,19.696,8.6,214
The Godfather Part II,3,240,In the continuing saga of the Corleone crime f...,1974-12-20,55.942,8.6,10802
The Quintessential Quintuplets Movie,4,820067,When five lovely young girls who hate studying...,2022-05-20,287.143,8.6,235
...,...,...,...,...,...,...,...
Antitrust,8555,9989,A computer programmer's dream job at a hot Por...,2001-01-11,12.242,6.0,448
Dark Phoenix,8556,320288,The X-Men face their most formidable and power...,2019-06-05,37.275,6.0,5746
The Remaining,8557,280002,When a group of close-knit friends assemble fo...,2014-08-25,52.844,6.0,333
Teenage Mutant Ninja Turtles: Out of the Shadows,8558,308531,"After supervillain Shredder escapes custody, h...",2016-06-01,30.932,6.0,3126
War of the Buttons,8559,74944,1960. The thrilling battles waged by a band of...,2011-09-14,6.073,6.0,368

In [12]:
#header parameter
pd.read_csv('movielist.csv', header = 0)

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
0,0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,113.216,8.7,17865
1,1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,84.139,8.7,23715
2,2,772071,Cuando Sea Joven,70-year-old Malena gets a second chance at lif...,2022-09-14,19.696,8.6,214
3,3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,55.942,8.6,10802
4,4,820067,The Quintessential Quintuplets Movie,When five lovely young girls who hate studying...,2022-05-20,287.143,8.6,235
...,...,...,...,...,...,...,...,...
8555,8555,9989,Antitrust,A computer programmer's dream job at a hot Por...,2001-01-11,12.242,6.0,448
8556,8556,320288,Dark Phoenix,The X-Men face their most formidable and power...,2019-06-05,37.275,6.0,5746
8557,8557,280002,The Remaining,When a group of close-knit friends assemble fo...,2014-08-25,52.844,6.0,333
8558,8558,308531,Teenage Mutant Ninja Turtles: Out of the Shadows,"After supervillain Shredder escapes custody, h...",2016-06-01,30.932,6.0,3126
8559,8559,74944,War of the Buttons,1960. The thrilling battles waged by a band of...,2011-09-14,6.073,6.0,368

In [15]:
#squeeze parameters
pd.read_csv('movielist.csv', usecols = ['id'], squeeze = True)

/var/folders/5f/7l5r9pzx0jvc117v368rjbc00000gn/T/ipykernel_5397/83336310.py:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pd.read_csv('movielist.csv', usecols = ['id'], squeeze = True)

0          238
1          278
2       772071
3          240
4       820067
         ...
8555      9989
8556    320288
8557    280002
8558    308531
8559     74944
Name: id, Length: 8560, dtype: int64

In [23]:
#skiprows example
pd.read_csv('movielist.csv', skiprows = [1,2])

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
0,2,772071,Cuando Sea Joven,70-year-old Malena gets a second chance at lif...,2022-09-14,19.696,8.6,214
1,3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,55.942,8.6,10802
2,4,820067,The Quintessential Quintuplets Movie,When five lovely young girls who hate studying...,2022-05-20,287.143,8.6,235
3,5,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,57.910,8.6,14028
4,6,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,23.413,8.6,4121
...,...,...,...,...,...,...,...,...
8553,8555,9989,Antitrust,A computer programmer's dream job at a hot Por...,2001-01-11,12.242,6.0,448
8554,8556,320288,Dark Phoenix,The X-Men face their most formidable and power...,2019-06-05,37.275,6.0,5746
8555,8557,280002,The Remaining,When a group of close-knit friends assemble fo...,2014-08-25,52.844,6.0,333
8556,8558,308531,Teenage Mutant Ninja Turtles: Out of the Shadows,"After supervillain Shredder escapes custody, h...",2016-06-01,30.932,6.0,3126
8557,8559,74944,War of the Buttons,1960. The thrilling battles waged by a band of...,2011-09-14,6.073,6.0,368

In [17]:
#nrows example
pd.read_csv('movielist.csv',nrows = 100)

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
0,0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,113.216,8.7,17865
1,1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,84.139,8.7,23715
2,2,772071,Cuando Sea Joven,70-year-old Malena gets a second chance at lif...,2022-09-14,19.696,8.6,214
3,3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,55.942,8.6,10802
4,4,820067,The Quintessential Quintuplets Movie,When five lovely young girls who hate studying...,2022-05-20,287.143,8.6,235
...,...,...,...,...,...,...,...,...
95,95,265177,Mommy,A peculiar neighbor offers hope to a recent wi...,2014-09-19,14.029,8.3,2473
96,96,670,Oldboy,"With no clue how he came to be imprisoned, dru...",2003-11-21,29.317,8.3,7443
97,97,299534,Avengers: Endgame,After the devastating events of Avengers: Infi...,2019-04-24,101.337,8.3,23090
98,98,299536,Avengers: Infinity War,As the Avengers and their allies have continue...,2018-04-25,205.036,8.3,26811
99,99,508965,Klaus,When Jesper distinguishes himself as the Posta...,2019-11-08,23.049,8.3,3376

In [18]:
#encoding parameters
pd.read_csv('movielist.csv', encoding = 'latin-1')

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
0,0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,113.216,8.7,17865
1,1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,84.139,8.7,23715
2,2,772071,Cuando Sea Joven,70-year-old Malena gets a second chance at lif...,2022-09-14,19.696,8.6,214
3,3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,55.942,8.6,10802
4,4,820067,The Quintessential Quintuplets Movie,When five lovely young girls who hate studying...,2022-05-20,287.143,8.6,235
...,...,...,...,...,...,...,...,...
8555,8555,9989,Antitrust,A computer programmer's dream job at a hot Por...,2001-01-11,12.242,6.0,448
8556,8556,320288,Dark Phoenix,The X-Men face their most formidable and power...,2019-06-05,37.275,6.0,5746
8557,8557,280002,The Remaining,When a group of close-knit friends assemble fo...,2014-08-25,52.844,6.0,333
8558,8558,308531,Teenage Mutant Ninja Turtles: Out of the Shadows,"After supervillain Shredder escapes custody, h...",2016-06-01,30.932,6.0,3126
8559,8559,74944,War of the Buttons,1960. The thrilling battles waged by a band of...,2011-09-14,6.073,6.0,368

In [19]:
# #skip bad lines
# pd.read_csv('movielist.csv',sep = ';', encoding = "latin-1", error_bad_lines = False)

/var/folders/5f/7l5r9pzx0jvc117v368rjbc00000gn/T/ipykernel_5397/3211587117.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  pd.read_csv('movielist.csv',sep = ';', encoding = "latin-1", error_bad_lines = False)
Skipping line 46: expected 1 fields, saw 2
Skipping line 143: expected 1 fields, saw 4
Skipping line 146: expected 1 fields, saw 3
Skipping line 228: expected 1 fields, saw 2
Skipping line 306: expected 1 fields, saw 2
Skipping line 331: expected 1 fields, saw 2
Skipping line 379: expected 1 fields, saw 2
Skipping line 394: expected 1 fields, saw 2
Skipping line 401: expected 1 fields, saw 2
Skipping line 462: expected 1 fields, saw 2
Skipping line 485: expected 1 fields, saw 2
Skipping line 525: expected 1 fields, saw 2
Skipping line 596: expected 1 fields, saw 2
Skipping line 742: expected 1 fields, saw 2
Skipping line 770: expected 1 fields, saw 2
Skipping line 806: expected 1 fields, saw 2
Skipping line 828: expected 1 fields, saw 2
Skipping line 877: expected 1 fields, saw 2
Skipping line 896: expected 1 fields, saw 2
Skipping line 898: expected 1 fields, saw 3
Skipping line 919: expected 1 fields, saw 2
Skipping line 926: expected 1 fields, saw 5
Skipping line 934: expected 1 fields, saw 2
Skipping line 938: expected 1 fields, saw 2
Skipping line 943: expected 1 fields, saw 2
Skipping line 949: expected 1 fields, saw 2
Skipping line 964: expected 1 fields, saw 2
Skipping line 1021: expected 1 fields, saw 3
Skipping line 1031: expected 1 fields, saw 2
Skipping line 1056: expected 1 fields, saw 2
Skipping line 1106: expected 1 fields, saw 2
Skipping line 1153: expected 1 fields, saw 2
Skipping line 1231: expected 1 fields, saw 2
Skipping line 1282: expected 1 fields, saw 2
Skipping line 1331: expected 1 fields, saw 2
Skipping line 1347: expected 1 fields, saw 2
Skipping line 1378: expected 1 fields, saw 2
Skipping line 1399: expected 1 fields, saw 2
Skipping line 1447: expected 1 fields, saw 2
Skipping line 1513: expected 1 fields, saw 4
Skipping line 1545: expected 1 fields, saw 2
Skipping line 1554: expected 1 fields, saw 2
Skipping line 1656: expected 1 fields, saw 4
Skipping line 1745: expected 1 fields, saw 2
Skipping line 1760: expected 1 fields, saw 3
Skipping line 1788: expected 1 fields, saw 3
Skipping line 1966: expected 1 fields, saw 3
Skipping line 1978: expected 1 fields, saw 2
Skipping line 1993: expected 1 fields, saw 3
Skipping line 2038: expected 1 fields, saw 3
Skipping line 2057: expected 1 fields, saw 2
Skipping line 2079: expected 1 fields, saw 2
Skipping line 2090: expected 1 fields, saw 2
Skipping line 2112: expected 1 fields, saw 3
Skipping line 2130: expected 1 fields, saw 2
Skipping line 2147: expected 1 fields, saw 2
Skipping line 2203: expected 1 fields, saw 2
Skipping line 2275: expected 1 fields, saw 3
Skipping line 2591: expected 1 fields, saw 2
Skipping line 2662: expected 1 fields, saw 2
Skipping line 2752: expected 1 fields, saw 3
Skipping line 2764: expected 1 fields, saw 2
Skipping line 2793: expected 1 fields, saw 2

ParserError: Error tokenizing data. C error: Buffer overflow caught - possible malformed input file.

In [22]:
#dtypes parameters
pd.read_csv('movielist.csv',dtype = {'popularity':int})

ValueError: cannot safely convert passed user dtype of int64 for float64 dtyped data in column 5

In [24]:
#handling dates 
pd.read_csv('movielist.csv', parse_dates = ['release_date']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8560 entries, 0 to 8559
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    8560 non-null   int64
 1   id            8560 non-null   int64
 2   title         8560 non-null   object
 3   overview      8560 non-null   object
 4   release_date  8560 non-null   datetime64[ns]
 5   popularity    8560 non-null   float64
 6   vote_average  8560 non-null   float64
 7   vote_count    8560 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 535.1+ KB

In [25]:
#convertors
def rename(title):
    if title == "The Godfather":
        return "gf"
    else:
        return title

In [27]:
pd.read_csv('movielist.csv', converters = {'title':rename})

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
0,0,238,gf,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,113.216,8.7,17865
1,1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,84.139,8.7,23715
2,2,772071,Cuando Sea Joven,70-year-old Malena gets a second chance at lif...,2022-09-14,19.696,8.6,214
3,3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,55.942,8.6,10802
4,4,820067,The Quintessential Quintuplets Movie,When five lovely young girls who hate studying...,2022-05-20,287.143,8.6,235
...,...,...,...,...,...,...,...,...
8555,8555,9989,Antitrust,A computer programmer's dream job at a hot Por...,2001-01-11,12.242,6.0,448
8556,8556,320288,Dark Phoenix,The X-Men face their most formidable and power...,2019-06-05,37.275,6.0,5746
8557,8557,280002,The Remaining,When a group of close-knit friends assemble fo...,2014-08-25,52.844,6.0,333
8558,8558,308531,Teenage Mutant Ninja Turtles: Out of the Shadows,"After supervillain Shredder escapes custody, h...",2016-06-01,30.932,6.0,3126
8559,8559,74944,War of the Buttons,1960. The thrilling battles waged by a band of...,2011-09-14,6.073,6.0,368

In [29]:
#na_values parameters
pd.read_csv('movielist.csv', na_values = ['title',])

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
0,0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,113.216,8.7,17865
1,1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,84.139,8.7,23715
2,2,772071,Cuando Sea Joven,70-year-old Malena gets a second chance at lif...,2022-09-14,19.696,8.6,214
3,3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,55.942,8.6,10802
4,4,820067,The Quintessential Quintuplets Movie,When five lovely young girls who hate studying...,2022-05-20,287.143,8.6,235
...,...,...,...,...,...,...,...,...
8555,8555,9989,Antitrust,A computer programmer's dream job at a hot Por...,2001-01-11,12.242,6.0,448
8556,8556,320288,Dark Phoenix,The X-Men face their most formidable and power...,2019-06-05,37.275,6.0,5746
8557,8557,280002,The Remaining,When a group of close-knit friends assemble fo...,2014-08-25,52.844,6.0,333
8558,8558,308531,Teenage Mutant Ninja Turtles: Out of the Shadows,"After supervillain Shredder escapes custody, h...",2016-06-01,30.932,6.0,3126
8559,8559,74944,War of the Buttons,1960. The thrilling battles waged by a band of...,2011-09-14,6.073,6.0,368

In [34]:
#loading a huge datasets in chunks
dfs = pd.read_csv('movielist.csv', chunksize = 500)

for chunks in dfs:
    print(chunks.size)

4000
4000
4000
4000
4000
4000
4000
4000
4000
4000
4000
4000
4000
4000
4000
4000
4000
480