# WORKING WITH JSON

In [12]:
import pandas as pd

In [14]:
#loading json locally
pd.read_json('Downloads/archive/training.json')

,image,objects
0,{'checksum': '676bb8e86fc2dbf05dd97d51a64ac0af...,"[{'bounding_box': {'minimum': {'r': 1057, 'c':..."
1,{'checksum': '1225a18efce159eddf7b0e80e0ea642c...,"[{'bounding_box': {'minimum': {'r': 734, 'c': ..."
2,{'checksum': '3eaf840523c30fdf38897ffa01e194eb...,"[{'bounding_box': {'minimum': {'r': 724, 'c': ..."
3,{'checksum': '8a111dffacfa433029492780b9535091...,"[{'bounding_box': {'minimum': {'r': 563, 'c': ..."
4,{'checksum': 'ccef403e971460b86444cca669e68ca1...,"[{'bounding_box': {'minimum': {'r': 618, 'c': ..."
...,...,...
1203,{'checksum': 'd6ccf3550df717f6852d3c8266a1a590...,"[{'bounding_box': {'minimum': {'r': 1051, 'c':..."
1204,{'checksum': 'd06843db5b2a68cdaffedf7da7d12454...,"[{'bounding_box': {'minimum': {'r': 372, 'c': ..."
1205,{'checksum': 'e24d3a0f96233892e3a55f57fd6c0f5f...,"[{'bounding_box': {'minimum': {'r': 580, 'c': ..."
1206,{'checksum': '48c95e8a3623637d71590b376b34b4cc...,"[{'bounding_box': {'minimum': {'r': 160, 'c': ..."
1207,{'checksum': 'de522f3d91e039245b386364b8614a00...,"[{'bounding_box': {'minimum': {'r': 995, 'c': ..."

In [15]:
#loading json from URL
pd.read_json('https://storage.googleapis.com/kagglesdsdata/datasets/717006/1248510/test.json?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20230510%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20230510T131130Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=a954f24c42f0b7dcaf6e244d1b8d33f4e4fd0d4d3ca078e63f0e725f25c081eca5f7051a324f121289642da8bbc4bac5705ca8290d717896709d08df4346a1e8c267254c9dc7e5a6533a6a3d974aa49ae1049bfb9e88ff24173350047db7b10f17d65cd020637c3e5cc02553ed0bbab94d16a3c541de41792740a82606a6132e21411e5f335df25cd8ab4e594baffb810453340058e99086db84970549d0a0213719c3ac7d9f35647e47d907833dd5833c70ef8af31037d6c37726a1b66b4e9da5f8c55b06b841f1b95843f2df017e000264123c74b713494ba84a4679610ac846ec3abca7f3cdb5c21498689bb78e4c0ba540bcfcc7d8870665ed5d092ce6e4')

,image,objects
0,{'checksum': 'eea3bfd6a929bcb06f9786667cd3fbb2...,"[{'bounding_box': {'minimum': {'r': 576, 'c': ..."
1,{'checksum': '2d85fc8ffdb875bb569878243437e4f5...,"[{'bounding_box': {'minimum': {'r': 1048, 'c':..."
2,{'checksum': 'f7c02b6247f3ccfcd4a22c1f06e0c72c...,"[{'bounding_box': {'minimum': {'r': 979, 'c': ..."
3,{'checksum': '50634ef166ae993b4562b96f315ff6db...,"[{'bounding_box': {'minimum': {'r': 402, 'c': ..."
4,{'checksum': '74dd777a74e5a4b24aaee574a99e1459...,"[{'bounding_box': {'minimum': {'r': 314, 'c': ..."
...,...,...
115,{'checksum': '57d00c945b5e0b7995c75b9b4c57b579...,"[{'bounding_box': {'minimum': {'r': 483, 'c': ..."
116,{'checksum': '96a318d9a91b7ec403d80a4d2524ca50...,"[{'bounding_box': {'minimum': {'r': 645, 'c': ..."
117,{'checksum': '4a16a20311409e7c347b46ef96052735...,"[{'bounding_box': {'minimum': {'r': 530, 'c': ..."
118,{'checksum': 'de41f39ac7b6d9eb61502b9a55c27f8a...,"[{'bounding_box': {'minimum': {'r': 1004, 'c':..."
119,{'checksum': '7ec6cc1abc1c5a916150c34a673ba864...,"[{'bounding_box': {'minimum': {'r': 343, 'c': ..."

# WORKING WITH SQL: converting sql data to pandas dataframe

In [16]:
!pip install mysql.connector

Requirement already satisfied: mysql.connector in ./anaconda3/lib/python3.10/site-packages (2.2.9)

In [17]:
import mysql.connector

In [8]:
#now lets create a connection through python to our database
connection = mysql.connector.connect(host = 'localhost', user ='root', password= '', database = 'world')

In [32]:
df1 = pd.read_sql_query("SELECT *FROM city",connection)

/var/folders/5f/7l5r9pzx0jvc117v368rjbc00000gn/T/ipykernel_2107/1559018727.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1 = pd.read_sql_query("SELECT *FROM city",connection)

In [34]:
print(df1.head())

   ID            Name CountryCode       District  Population
0   1           Kabul         AFG          Kabol     1780000
1   2        Qandahar         AFG       Qandahar      237500
2   3           Herat         AFG          Herat      186800
3   4  Mazar-e-Sharif         AFG          Balkh      127800
4   5       Amsterdam         NLD  Noord-Holland      731200

In [35]:
df2 = pd.read_sql_query("SELECT *FROM city WHERE CountryCode LIKE 'AFG'",connection)

/var/folders/5f/7l5r9pzx0jvc117v368rjbc00000gn/T/ipykernel_2107/1525226471.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2 = pd.read_sql_query("SELECT *FROM city WHERE CountryCode LIKE 'AFG'",connection)

In [36]:
print(df2.head())

   ID            Name CountryCode  District  Population
0   1           Kabul         AFG     Kabol     1780000
1   2        Qandahar         AFG  Qandahar      237500
2   3           Herat         AFG     Herat      186800
3   4  Mazar-e-Sharif         AFG     Balkh      127800

In [37]:
df3 = pd.read_sql_query("SELECT *FROM countrylanguage WHERE Language = 'Spanish'",connection)

/var/folders/5f/7l5r9pzx0jvc117v368rjbc00000gn/T/ipykernel_2107/3734277505.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df3 = pd.read_sql_query("SELECT *FROM countrylanguage WHERE Language = 'Spanish'",connection)

In [38]:
print(df3)

   CountryCode Language IsOfficial  Percentage
0          ABW  Spanish          F         7.4
1          AND  Spanish          F        44.6
2          ARG  Spanish          T        96.8
3          BLZ  Spanish          F        31.6
4          BOL  Spanish          T        87.7
5          CAN  Spanish          F         0.7
6          CHL  Spanish          T        89.7
7          COL  Spanish          T        99.0
8          CRI  Spanish          T        97.5
9          CUB  Spanish          T       100.0
10         DOM  Spanish          T        98.0
11         ECU  Spanish          T        93.0
12         ESP  Spanish          T        74.4
13         FRA  Spanish          F         0.4
14         GTM  Spanish          T        64.7
15         HND  Spanish          T        97.2
16         MEX  Spanish          T        92.1
17         NIC  Spanish          T        97.6
18         PAN  Spanish          T        76.8
19         PER  Spanish          T        79.8
20         PRI  Spanish          T        51.3
21         PRY  Spanish          T        55.1
22         SLV  Spanish          T       100.0
23         SWE  Spanish          F         0.6
24         URY  Spanish          T        95.7
25         USA  Spanish          F         7.5
26         VEN  Spanish          T        96.9
27         VIR  Spanish          F        13.3